.slide{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    background-size: cover;
    
}
.slide1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/x5sT7pX/pexels-pixabay-258154.jpg');
    background-position: center;
    background-size: cover;
}
.slide2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/0hRdPR2/pexels-helena-jankovi-ov-kov-ov-7051798.jpg');
}
.slide3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://i.ibb.co/52FXwPB/pexels-amicia-short-12716838.jpg');
    background-position: center;
    background-size: cover;
}